name: "Mirror"

on:
    schedule:
        - cron: "0 * * * *"
    workflow_dispatch:

permissions:
    contents: write

jobs:
    mirror:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
              with:
                  token: ${{ secrets.LIBOPEN_PAT }}
                  submodules: recursive
            - name: Setup Rokit
              uses: CompeyDev/setup-rokit@v0.1.2
            - name: Mirror
              run: |
                  lune run mirror
            - name: Commit & push
              run: |
                  git config --global user.name "github-actions[bot]"
                  git config --global user.email "107028394+github-actions[bot]@users.noreply.github.com"
                  git add -A
                  git commit -m "chore: mirror libopen" && \
                  git push || echo "warn: no changes to commit"
